{%- set external_urls = {
  'github': 'https://github.com/gotbase/kenbot',
  'github_issues': 'https://github.com/gotbase/kenbot/issues',
  'contributing': 'https://github.com/gotbase/kenbot/blob/master/CONTRIBUTING.md',
  'governance': 'https://github.com/gotbase/kenbot/blob/master/CONTRIBUTING.md',
  'twitter': 'https://twitter.com/Drakkarskenbot',
  'discuss': 'https://github.com/gotbase/kenbot/discussions',
  'home': 'https://docs.kenbot.online',
  'get_started': 'https://docs.kenbot.online',
  'blog': 'https://gotbase.github.io/kenbot',
  'kenbot-website': 'https://www.kenbot.online',
  'feedback': 'https://feedback.kenbot.online',
}
-%}
